body{
    background-color: #A9A9A9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.calculadora{
    background-color:#363636;
    width: 350px;
    padding: 40px 20px; 
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.818);
    justify-content: center;
    text-shadow: #363636 0px 5px 4px;
    
}

.display{
    width: 290px;
    background-color: #7E53BA;
    border-radius: 30px;
    height: 100px;
    font-size: 90px;
    padding: 30px;
    margin-bottom: 20px;
    color: white;
    text-align: right;
    box-shadow: 0px 5px 5px rgba(19, 18, 18, 0.818);
    
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid: gap(10px);
    
}
button {
    width: 65px;
    background-color: #56525C;
    border: none;
    border-radius: 50px;
    padding: 3px;
   margin: 5px;
   font-size: 50px;
   cursor: pointer;
   color: white;
   text-shadow: #363636 0px 5px 4px;
    box-shadow: 0px 5px 5px rgba(19, 18, 18, 0.818)
}

button:active{
    transform: scale(1);
}

#botao1{
    background-color: #7A39D7;
}
#botao2{
    background-color: #7A39D7;
}
#botao3{
    background-color: #7A39D7;
}
#botao4{
    background-color: #7A39D7;
}